In [1]:
import pandas as pd
import numpy as np

In [2]:
#movies data
movies = pd.read_csv('data/movie.csv')

In [3]:
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [4]:
movies.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [5]:
# 1번 문제 movie 가 들어간 칼럼만 선택하기 for~if

[
    c
    for c in movies.columns
    if 'movie' in c
]

['movie_title', 'movie_imdb_link', 'movie_facebook_likes']

In [6]:
# movie 가 들어간 칼럼만 선택하기 filter
cols = [c for c in movies.columns if 'movie'in c]
print('cols:',cols)

cols: ['movie_title', 'movie_imdb_link', 'movie_facebook_likes']

In [7]:
movies.filter(items=cols)

,movie_title,movie_imdb_link,movie_facebook_likes
0,Avatar,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,33000
1,Pirates of the Caribbean: At World's End,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,0
2,Spectre,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,85000
3,The Dark Knight Rises,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,164000
4,Star Wars: Episode VII - The Force Awakens,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,0
...,...,...,...
4911,Signed Sealed Delivered,http://www.imdb.com/title/tt3000844/?ref_=fn_t...,84
4912,The Following,http://www.imdb.com/title/tt2071645/?ref_=fn_t...,32000
4913,A Plague So Pleasant,http://www.imdb.com/title/tt2107644/?ref_=fn_t...,16
4914,Shanghai Calling,http://www.imdb.com/title/tt2070597/?ref_=fn_t...,660
4915,My Date with Drew,http://www.imdb.com/title/tt0378407/?ref_=fn_t...,456

In [8]:
# 2번 문제 movie df 에서 가장 na가 많은 칼럼 찾기 
#내림차순 ascending=False

pd.Series([5,2,3,1,7]).sort_values(ascending=False)

4    7
0    5
2    3
1    2
3    1
dtype: int64

In [9]:
#칼럼별 결측값 확인 
movies.isna().sum()

color                         19
director_name                102
num_critic_for_reviews        49
duration                      15
director_facebook_likes      102
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        862
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                152
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               300
budget                       484
title_year                   106
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 326
movie_facebook_likes           0
dtype: int64

In [10]:
pd.Series([5,2,3,1,7]).sort_values(ascending=True) # 오름차순으로 정렬된다.

3    1
1    2
2    3
0    5
4    7
dtype: int64

In [11]:
movies.isna().sort_values(ascending=False) f

SyntaxError: invalid syntax (Temp/ipykernel_18648/4240298516.py, line 1)

In [12]:
columns = movies.columns
#list(columns)
pd.Series(columns)
#columns

0                         color
1                 director_name
2        num_critic_for_reviews
3                      duration
4       director_facebook_likes
5        actor_3_facebook_likes
6                  actor_2_name
7        actor_1_facebook_likes
8                         gross
9                        genres
10                 actor_1_name
11                  movie_title
12              num_voted_users
13    cast_total_facebook_likes
14                 actor_3_name
15         facenumber_in_poster
16                plot_keywords
17              movie_imdb_link
18         num_user_for_reviews
19                     language
20                      country
21               content_rating
22                       budget
23                   title_year
24       actor_2_facebook_likes
25                   imdb_score
26                 aspect_ratio
27         movie_facebook_likes
dtype: object

In [13]:
movies.isna().sum()

color                         19
director_name                102
num_critic_for_reviews        49
duration                      15
director_facebook_likes      102
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        862
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                152
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               300
budget                       484
title_year                   106
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 326
movie_facebook_likes           0
dtype: int64